body {
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;

  background: #f2f2f7;

  color: #111;

  -webkit-user-select: none;
  user-select: none;
}

.app {
  max-width: 500px;

  margin: auto;

  padding: 20px;
}

h1 {
  text-align: center;

  font-size: 42px;

  margin-top: 30px;
  margin-bottom: 40px;
}

.calendar-header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 25px;
}

.calendar-header h2 {
  font-size: 34px;

  margin: 0;
}

.calendar-header button {

  width: 50px;
  height: 50px;

  border: none;

  border-radius: 14px;

  background: white;

  font-size: 28px;

  font-weight: bold;

  cursor: pointer;

  box-shadow:
    0 2px 8px rgba(0,0,0,0.05);
}

.days {

  display: grid;

  grid-template-columns:
    repeat(7, 1fr);

  gap: 10px;

  margin-bottom: 10px;
}

.days div {

  text-align: center;

  font-weight: bold;

  font-size: 18px;
}

.calendar {

  display: grid;

  grid-template-columns:
    repeat(7, 1fr);

  gap: 10px;
}

.day {

  height: 70px;

  border-radius: 18px;

  display: flex;

  align-items: center;

  justify-content: center;

  cursor: pointer;

  font-size: 22px;

  font-weight: 600;

  color: white;

  transition: 0.2s;
}

.day:active {
  transform: scale(0.95);
}

/* AVAILABLE */

.available {
  background: #34c759;
}

/* BOOKED */

.booked {
  background: #ff3b30;
}

/* CANCELLED */

.cancelled {
  background: #1c1c1e;
}

/* POPUP */

.popup {

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.4);

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 999;
}

.popup-content {

  width: 280px;

  background: white;

  border-radius: 24px;

  padding: 20px;
}

.popup-content h3 {

  text-align: center;

  margin-top: 0;

  margin-bottom: 20px;

  font-size: 24px;
}

.popup-content input {

  width: 100%;

  padding: 14px;

  margin-top: 10px;

  border-radius: 12px;

  border: 1px solid #ddd;

  font-size: 16px;

  box-sizing: border-box;
}

.popup-content button {

  width: 100%;

  border: none;

  border-radius: 14px;

  padding: 14px;

  margin-top: 10px;

  font-size: 18px;

  font-weight: 600;

  cursor: pointer;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {

  h1 {
    font-size: 34px;
  }

  .calendar-header h2 {
    font-size: 28px;
  }

  .day {
    height: 60px;
    font-size: 20px;
  }

}